.vehicle-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

img {
  max-width: 450px;
  height: auto;
}

.vehicle-photo {
  width: 450px;
  height: 350px;
}

.vehicle-details {
  background-color: #2ab680;  
}

.btn {
  text-align: center;
  border: 2px solid transparent;
  padding: 0.46rem 1rem;
  border-radius: 20px;
  color: #111;
  background-color: #b1cf5d;
  float: right;
}

.mt-3 {
  margin-top: 1rem !important;
}